:root {
    --mainColor: #FFAC12;
    --secondaryColor: #849BB8;
    --tertiaryColor: #74AEF7;
    --textColor: #FAFAFA;
    --textDarkColor: #252525;
    --warningColor: #ffc107;
    --dangerColor: #dc3545;
    --infoColor: #0dcaf0;
    --backgroundColor: #eeeeee;
    --lightBackgroundColor: #f1f1f1;
    --backgroundDarkColor: #252525;
    --scrollBarMainColor: #FFAC12;
    --scrollBarSecondColor: #9b690b;
    --borderColor: #6d6d6d67;
}

.sellSectionBox {
    position: fixed;
    display: flex;
    justify-content: flex-start;
    flex-flow: row;
    gap: 20px;
    padding: 30px;
    height: 60vh;
    max-height: 616px;
    top: 150px;
    align-self: center;
    background-color: var(--lightBackgroundColor);
    border-radius: 15px;
    transition-duration: 0.3s;
    z-index: 8;
    overflow-y: scroll;
}

.leftSectionBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 7px;
}

.rightSectionBox {
    display: flex;
    flex-direction: column;
}

.formTitle {
    font-size: 20px;
    font-weight: 600;
    color: var(--textDarkColor);
    text-align: center;
}

.saveButton {
    border: none;
    border-radius: 5px;
    background-color: var(--backgroundColor);
    cursor: pointer;
    transition-duration: 0.3s;
    width: 200px;
    height: 35px;
    text-align: center;
    margin-top: 5px;
}

.saveButton:hover {
    background-color: var(--mainColor);
    transition-duration: 0.3s;
}

.imageInput {
    display: inline-block;
    justify-content: center;
    background-color: var(--mainColor);
    color: var(--textDarkColor);
    border-radius: 0px 0px 15px 15px;
    width: 575px;
    height: 38px;
    cursor: pointer;
}

.imagePreviewBox {
    width: 575px;
    height: 423px;
    border-radius: 15px 15px 0px 0px;
    background-color: transparent;
    z-index: 10;
}

.imagePreview {
    width: 100%;
    height: 100%;
    border-radius: 15px 15px 0px 0px;
    z-index: 9;
}

.typeRoomBox {
    display: flex;
    justify-content: space-between;
    width: 295px;
}

.descInput {
    background-color: var(--backgroundColor);
    border: none;
    border-radius: 15px;
    text-align: center;
    max-width: 295px;
    min-width: 295px;
    max-height: 130px;
    min-height: 100px;
}

@media screen and (max-width: 650px) {
    .sellSectionBox {
        flex-flow: column;
        align-items: center;
        height: 400px !important;
        width: 300px !important;
        overflow: scroll;
    }

    .imagePreviewBox {
        width: 295px;
        height: 215px;
    }

    .imageInput {
        width: 295px;
        height: 40px;
        text-align: center;
    }
}

@media screen and (max-width: 768px) {
    .sellSectionBox {
        top: 148px;
    }
}

@media screen and (max-width: 990px) {
    .sellSectionBox {
        flex-flow: column;
        align-items: center;
        height: 630px;
        width: 560px;
        overflow: scroll;
    }
}
